<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
</nav>
<div class="container css-">
  <div class="row">
    <div class="col-md-6 col-xs-12">
        <!-- <form (ngSubmit)= "onSubmit(f)" #f="ngForm"> -->
          <form (ngSubmit) = "onSubmit()" #f='ngForm'>
          <div class = "form-group">
            <label for ="username">Username</label>
            <input type = "text" id="username" class= "form-control" name = 'username' ngModel
            required/>
          </div>
          <div class = "form-group">
              <label for= "email">Email </label>
              <input type = "email"  id="email" class= "form-control" name = 'email' ngModel required email/>
          </div> 
          <div class="form-group">
            <label for ="User type">User Type</label>
            <select class = "form-control" ngModel name="valuetype" required>
              <option> None </option>
              <option value="1">Student</option>
              <option value="2">Employee </option>
              <option value="3"> Business Man</option>
            </select>    
          </div>
          <div class="form-group">
              <label>
                <input type="checkbox" name="checkbox" ngModel > Remmber Me
              </label>
          </div>
          <button type="submit" class="btn btn-success"
          [disabled]="!f.valid">Submit</button>
        </form>
      </div>
  </div>
</div>